
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Yetkiler</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-outline-info"><i class="fas fa-plus"></i>&nbsp; Yeni Yetki</a>
        <a asp-action="Assign" class="btn btn-outline-info"><i class="fas fa-users-cog"></i>&nbsp; Yetki Ata</a>
        <a asp-action="AssignUserRole" class="btn btn-outline-info"><i class="far fa-list-alt"></i>&nbsp; Yetkileri Görüntüle</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Ad:
            </th>
            
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.Roles)
        {
            <tr>
                <td>@item.Name</td>
                <td >
                    <partial name="_RoleButtons" model="@item.Id"/>
                </td>
                

               


            </tr>
        }
    </table>
</div>

@section scripts{

    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function (){
            var save = '@TempData["save"]'
            if (save != '') {
                alertify.success(save);
            }
        })
        $(function (){
            var save = '@TempData["edit"]'
            if (save != '') {
                alertify.success(save);
            }
        })
        $(function (){
            var save = '@TempData["delete"]'
            if (save != '') {
                alertify.success(save);
            }
        })

    </script>



}